<div id="rundown" class="grid_8">
	<h2>What is This?</h2>
	<p>
		The short answer is that pushbroom is a utility to help keep your Gmail
		account tidy.
	</p>
	<p>
		Gmail automatically deletes emails in your 'Spam' and 'Trash' labels after
		30 days. This is nice as it keeps your account's space free of emails you
		have no interest in. Pushrooms takes this idea a step further and lets you
		apply this kind of automation to any label you've created. The time after
		which emails will expire is also customizable. You can make a broom to
		sweep away emails older than any number of days, weeks, months, or years.
	</p>
	<h2>Why?</h2>
	<p>
		I made pushbroom to scratch an itch. In my case, I have a label named
		'shopping' where all emails from online stores I've bought from get
		automatically placed into. The content of these emails is usually special
		deals and coupon codes that remain valid anywhere from a couple days to a
		month. I don't want to delete them immediately after reading since I may
		find use for some of the information. I also don't want to be manually
		removing emails every so often that are no longer of any use to me.
		I eventually end up with hundreds of emails in this label and never remember
		the exact input to search for emails with a certain label older than a
		certain date. So I made pushbroom.
	</p>
</div>
<div id="get-started" class="grid_8">
	<%= link_to 'Get Started!', login_url, :id => 'login' %>
	<p>
		When you are ready to begin sweeping your mailbox you can use the button
		above. This will take you to Google who will then ask you if you want to
		grant pushbroom access to your Gmail. Once everything checks out you will be
		able to begin making brooms and live a cleaner life.
	<p>
	<h2>Ass Covering</h2>
	<p>
		This is a free product that I made for myself but thought others could
		benefit from. This means that you are deciding to use pushbroom at your own
		risk and will not hold me liable if anything goes wrong. That being said the
		only assurance I can give you is that since I am using this, if anything
		goes terribly wrong, it went wrong for me too. You can always stop using
		pushbroom by following the instructions from Google
		<%= link_to 'here', 'http://www.google.com/support/accounts/bin/answer.py?hl=en&answer=41236' %>.
	</p>
</div>