<div id="add-broom" class="grid_5">
	<form>
		<h2>Add Broom to Closet</h2>
		<p>
			Delete emails older than <input type="text" placeholder="#" size="1" />
			<select>
				<option>days</option>
				<option>weeks</option>
				<option>months</option>
				<option>years</option>
			</select>
			from these labels:</p>
		<ul>
			<li><input type="checkbox" /><p>Work</p></li>
			<li><input type="checkbox" /><p>Play</p></li>
			<li><input type="checkbox" /><p>Tech</p></li>
			<li><input type="checkbox" />
					<p>Some really long label that is longer than it probably should be</p>
			</li>
			<li><input type="checkbox" /><p>Followed by a not so long label</p></li>
		</ul>
		<input type="submit" value="Place this Broom in Closet">
	</form>
</div>

<div id="broom-closet" class="grid_11">
	<h2>Your Broom Closet</h2>
	<div class="broom">
		<div class="grid_12">
			<p class="details">Deletes emails older than <em>5 days</em> from these labels:</p>
			<p class="labels">Work, Play, Tech, Some really long label that is longer than it probably
			should be, Followed by a not so long label</p>
		</div>
		<div class="grid_4 actions">Change | Remove</div>
	</div>
	<div class="broom">
		<div class="grid_12">
			<p class="details">Deletes emails older than <em>5 days</em> from these labels:</p>
			<p class="labels">Work, Play, Tech, Some really long label that is longer than it probably
			should be, Followed by a not so long label</p>
		</div>
		<div class="grid_4 actions">Change | Remove</div>
	</div>
	<div class="broom last">
		<div class="grid_12">
			<p class="details">Deletes emails older than <em>5 days</em> from these labels:</p>
			<p class="labels">Work, Play, Tech, Some really long label that is longer than it probably
			should be, Followed by a not so long label</p>
		</div>
		<div class="grid_4 actions">Change | Remove</div>
	</div>
</div